* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    color: #fff;
    background-color: blueviolet;

    padding: 40px;
    width: 100%;

    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;

    position: fixed;
}

.contenedor {
    position: relative;
    top: 150px;
}

footer {
    bottom: 0;
}