* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header, footer {
    color: #fff;
    background-color: blueviolet;

    padding: 40px;
    width: 100%;

    font-size: 30px;
    font-weight: bold;
    text-align: center;

    position: fixed;
}

.contenedor {
    position: relative;
    top: 150px;

    display: flex;
    align-items: center;
}

.derecha {
    width: 75%;
}

.izquierda {
    width: 25%;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 3px;
    line-height: 30px;
}

ul {
    list-style: none;
}

footer {
    bottom: 0;
}