#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  text-align: center;
}

hr {
  margin: 2rem 0;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 1px solid gray;
  border-radius: 8px;
  min-width: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}

.beers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 8px black;
}

#price::after {
  content: ' AR$'
}

.quantity-div {
  font-size: 18px;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}