* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

form {
    background: #f3f3f3;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 10px;
}

input { 
    height: 10px;
    padding: 10px 15px;
}

input,textarea {
    border: 1px solid #bbbbbb;
}

textarea {
    height: 100px;
    margin-bottom: 20px;
}

input[type="submit"] {
    margin-bottom: 15px;
    background: rgb(60, 66, 95);
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(34, 41, 77);
}

button {
    background-color: rgb(186, 196, 245);
}

button:hover {
    cursor: pointer;
    background-color: rgb(166, 177, 231);
}

input[type="submit"], button {
    height: 40px;
    border: none;
    border-radius: 3px;
}

input[type="submit"]:active {
    background: rgb(21, 26, 54);
}

button:active {
    background: rgb(95, 107, 163);
}